* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Navigation */

.navigation {
	background-color: rgb(44, 62, 80);
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-weight: bolder;
	padding: 35px 7vw;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
}

.nav-active {
	padding: 18px 7vw;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

.title {
	font-size: 27px;
}

.nav-items {
	display: flex;
	gap: 35px;
	font-size: 19px;
	align-items: center;
}

/* Hero */

.hero {
	width: 100%;
	background-color: #1abc9c;
}

.hero img {
	display: block;
	width: 15vw;
	margin: 0 auto;
	padding: 27vh 0 3vh;
}

.hero h1 {
	display: block;
	font-size: 65px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.star-line {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}

.star {
	width: 36px;
	height: 36px;
}

.line {
	background-color: white;
	width: 100px;
	height: 4px;
	margin: 0 20px;
	align-self: center;
	border-radius: 2px;
}

.hero h2 {
	color: white;
	font-size: 25px;
	text-align: center;
	font-weight: 400;
	margin-top: 35px;
	padding-bottom: 12vh;
}

/* Portfolio */

#portfolio {
	padding-bottom: 10vh;
}

.header {
	padding: 10vh 0 10px;
	text-align: center;
	color: #2c3e50;
	font-size: 3.2rem;
	text-transform: uppercase;
}

.images {
	display: flex;
	justify-content: center;
	padding: 15px 5vw;
}

.images img {
	width: 25vw;
	border-radius: 10px;
	margin: 7px 20px;
}

.navy {
	background-color: #2c3e50;
}

.pop-up {
	margin: 5vh auto;
	width: 75vw;
	background-color: white;
	border-radius: 10px;
	border: solid black;
}

.pop-up.active {
	display: block;
	position: absolute;
	left: 12.5vw;
	overflow: auto;
}

.quit {
	float: right;
	width: 30px;
	height: 30px;
	margin: 20px;
}

.pop-up h1 {
	margin-top: 45px;
}

.pop-up img {
	display: block;
	margin: 3vh auto;
	width: 60%;
	border-radius: 10px;
}

.pop-up p {
	font-size: 15px;
	text-align: center;
	padding: 30px 15vw 10px;
}

.pop-up button {
	display: block;
	margin: 20px auto 40px;
	width: 150px;
	height: 45px;
	background-color: #1abc9c;
	color: white;
	border: solid white;
	border-radius: 10px;
	font-size: 17px;
}

/* About */

#about {
	background-color: #1abc9c;
	padding-bottom: 10vh;
}

.white {
	color: white;
}

.about-content {
	display: flex;
	width: 100%;
	padding: 20px 0;
	justify-content: center;
}

.about-content p {
	color: white;
	font-size: 21px;
	width: 27vw;
	margin: 0 8px;
}

#about button {
	display: block;
	margin: 20px auto;
	width: 16vw;
	height: 58px;
	background-color: transparent;
	color: white;
	border: solid white;
	border-radius: 5px;
	font-size: 20px;
	transition: 400ms;
}

.download {
	width: 19px;
	height: 19px;
	position: relative;
	top: 2px;
	right: 3px;
}

#about button:hover {
	background-color: white;
	color: black;
}

.path {
	transition: 400ms;
}

#about button:hover .path {
	fill: black;
}

/* Contact */

#contact h1 {
	color: #2c3e50;
}

.form {
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	gap: 10px;
}

.form-parent {
	display: flex;
	justify-content: center;
}

.input {
	border: transparent;
	border-bottom: solid 1px rgb(211, 211, 211);
	width: 50vw;
	height: 30px;
	font-size: 25px;
	padding: 40px 0;
	outline: transparent;
}

.textarea {
	padding: 20px 0 140px;
}

::-webkit-input-placeholder {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.submit {
	display: block;
	width: 8vw;
	height: 62px;
	background-color: #1abc9c;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	margin-bottom: 10vh;
	opacity: 0.5;
}

.alert {
	display: block;
	font-size: 15px;
	margin: 10px auto;
	color: red;
}

/* Footer */

.footer {
	background-color: #2c3e50;
	display: flex;
	justify-content: space-evenly;
	padding: 10vh 0;
}

.footer-item {
	width: 25vw;
}

.footer h2 {
	font-size: 25px;
	text-align: center;
	color: white;
}

.footer p {
	font-size: 20px;
	text-align: center;
	color: white;
}

.footer a {
	color: #1abc9c;
	text-decoration: underline;
}

.social-media {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	gap: 10px;
}

.social-media-items {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid white;
	padding: 12px 0;
	transition: 400ms;
}

.social-media-items:hover {
	background-color: white;
}

.social-media-items:hover path {
	fill: black;
}

.copyrights {
	background-color: #1a252f;
	text-align: center;
	font-size: 14px;
	color: white;
	padding: 4vh 0;
}
